body {
    background-color: #1b1d24;
    font-family: "fantasy";

}

.content-section {
    max-width: 100%;
    padding: 24px;
    margin-top: 24px;
}

.row-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 24px;


}


.col-4 {
     position: relative; 
    width: calc(4 * 100% / 12);
    padding: 16px;
    transition: ease 0.7s;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);

    }
}

.hotel-card-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}


.row-nav {
    width: 100%;
    font-size: 20px;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;

        li {
            cursor: pointer;
            transition: ease-out 0.7s;

            &:hover {
                color: #D32F2E;
                transform: rotateX(-360deg);


            }
        }

    }
}

.logo {
    cursor: pointer;
    font-size: 45px;
    transition: ease-out 0.8s;

    &:hover {
        transform: rotateX(-360deg);
        color: #D32F2E;

    }
}

.container {
    max-width: 100%;


}

.container-nav {
    max-width: 100%;
    padding: 0;
    border-bottom: 1px solid #D32F2E;
    box-shadow: 6px 6px 20px 6px #D32F2E;

}

.container-details {
    max-width: 100%;
    
   
   
}
.date-container{
    
    margin-top: 10px;
    display: flex;
    align-items: center;

    input{
        
        padding: 4px;
        border:  0.5px solid black;
        border-radius: 8px;
        margin: 0 4px;
    }
    
}
.details-card{
   width: 950px;
   margin: 100px auto;
 
  
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;

}
.badge{
    font-size: 12px;
    border: 1px solid trasparent;
    border-radius: 16px;
    padding: 8px;
}
.available{
    background: green;
    color: white;
}
.unavailable{
    background: #D32F2E;
    color: white;
}
.list-title{
    color: #D32F2E;
    font-size: 60px;
}
.container-map{
    padding: 20px;
}
.card-badge{
    position: absolute;
    top: 20px;
    left: 18px;
}